<ion-view view-title="My ToDo List">
  <ion-content class="padding">
    <form ng-submit="addTask()">
      <label class="item item-input">
      <input type="text" placeholder="Your task name" ng-model="pageObj.newTask">
      </label>
    </form>
    <div class="list">
      <div class="item item-icon-right" ng-repeat="task in tasks | orderBy:'id'" ng-click="toggleDone(task)">
        {{ task.name }}
        <i class="icon ion-checkmark-circled" ng-show="task.is_done"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
